.about-us{
  background: #F8FAF9;
  padding-top: 58px;
  padding-bottom: 106px;

    .about{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .about-us__title{
        font-size: 48px;
        text-transform: uppercase;
        margin-bottom: 44px;
      }
    }
}