.beats-model{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
line-height: 1.1;
margin-bottom: 42px;
}

.beats-model__name{
  font-size: 48px;
  margin-bottom: 23px;
  text-transform: uppercase;
}

.beats-model__description{
  font-family: "alegreya sans", sans-serif;
  font-size: 21px;
  margin-bottom: 36px;
  line-height: 1.13;
}
