.contact__phone{
  text-decoration: none;
  font-size: 18px;
  flex: 1;
  margin-right: 22px;
}

.contact__phone::before{
  content: url(../img/contact-icon/phone.png);
  margin-right: 6px;
  width: 14px;
  height: 14px;
}