.footer__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255,255,255, 0.1);
  padding: 42px 0 57px 0;
}

.footer__collector{
  display:flex;
  justify-content: flex-start;
}

.footer__collector-right{
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
}