.menu {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-right: 47px;
}
.menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 18px;
}
.menu .menu__list .menu__item {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  margin-right: 28px;
}
.menu .menu__list .menu__item .menu__link {
  text-decoration: none;
}
.menu .menu__list .menu__item:last-child {
  margin-right: 0px;
}

.menu .menu__list .menu__item .menu__link{
  transition: 0.7s;
}

.menu .menu__list .menu__item .menu__link:hover {
  color: #E01F3D;
}