.section-dark{

  .container-offer{
    position: relative;
    
    &::before{
      position: absolute;
      content: url(../img/decor/square.png);
      right: -1%;
      bottom: -27px;
    }

     .offer{
     display: flex;
     justify-content: space-between;
     flex-direction: row;


    .offer__photo{
      width: 452px;
      height: 452px;
      margin-right: 59px;
      margin-top: 26px;
      margin-left: 29px;

       .offer__img{
         width: 100%;
         height: 100%;
       }
    }

    .offer__content{ 
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1;
        
        .float-menu{
          display: flex;
          display: inline-block;
          

           .float-menu__dropdown{
             display: none;
             position: absolute;
             width: 273px;
             min-height: 294px;
             padding: 35px 25px 34px 30px;
             z-index: 1;
             background:rgba(0, 0, 0, 0.06);


             .float-menu__dropdown-list{
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: 100%;

              .float-menu__dropdown-item{
                display: flex;
                align-items: center;
                justify-content: space-between;

                .float-menu__dropdown-line{
                  display: flex;
                  align-items: center;
                }

                .float-menu__dropdown-icon{
                  width: 32px;
                  height: 32px;
                  margin-right: 16px;
                  text-align:center;
                }
              }
            }
           }
        } 

        .float-menu:hover .float-menu__dropdown{
         display: block;
        }

        .offer__title{
          font-size: 36px;
          text-transform: uppercase;
          margin-bottom: 18px;
          line-height: 1.3;
        }

        .offer__text{
          color: #666666;
          margin-bottom: 27px;
          line-height: 1.2;
        }

        .offer__parameter-list{
          display: flex;
          margin-bottom: 24px;

          .offer__parameter-item{
            margin-right: 86px;
            line-height: 1.3;

             .offer__parameter-value{
               font-size: 18px;
               font-weight: bold;
             }
          }
        }

        .offer__order{
          display: flex;
          align-items: center;

            .offer__price{
              font-size: 36px;
              margin-right: 20px;
            }
        }
    }
}
}
}