.hamburger {
  width: rem(26px);
  height: rem(24px);
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
  z-index: 11;

  @include tablets {
    display: block;
  }

  &--active{
    .hamburger__plank{
      background: #fff;

      &:nth-child(1){
        transform: rotate(45deg) translate(6px, 5px);
      }

      &:nth-child(2){
         transform: rotate(-45deg) translate(1px, 0);
      }
      &:nth-child(3){
        opacity: 0;
      }
    } 
  }
}

.hamburger__plank {
  background-color: #292929;
  width: rem(26px);
  height: rem(4px);
  border-radius: rem(10px);
  margin-bottom: rem(5px);
  display: block;
  transition: transform 0.3s, opacity 0.2s;
}
