$containerWidth: 940px;
$baseFontSize: 16px;

//breakpoints

$tablets: 768px;
$phones: 480px;

@import 'media.scss';

@import 'normalize.scss';
@import 'base.scss';
@import 'meet.scss';
@import 'header.scss';
@import 'hamburger.scss';
@import 'beats-model.scss';
@import 'logo.scss';
@import 'navigation.scss';
@import 'contact.scss';
@import 'button.scss';
@import 'section.scss';
@import 'presentation.scss';
@import 'parameter.scss';
@import 'paginator.scss';
@import 'offer.scss';
@import 'review.scss';
@import 'video.scss';
@import 'team.scss';
@import 'about-us.scss';
@import 'form.scss';
@import 'map.scss';
@import 'footer.scss';
@import 'socials.scss';

