.container-offer{
  
    
  &::before{
    position: absolute;
    content: url(../img/decor/square.png);
    right: -1%;
    bottom: rem(-27px);
}

 .bx-wrapper{
   box-shadow: none;
   border: 0;
   background:transparent;
   margin-bottom: 0;
 }
}

.slide__page{
  display: flex;
  align-items: center;
}

.swap{
  position: absolute;

  @include tablets{
    width: rem(13.5px);
    height: rem(27px);
  }


  &--left{
    left: 0;

    @include tablets{
      top: 34%;
      left: 18%;
    }

    @include phones{
      top: 32%;
      left: -2%;
    }
  }

  &--right{
    right: 0;

    @include tablets{
      top: 34%;
      right: 18%;
    }

    @include phones{
      top: 32%;
    right: -2%;
    }
  }
}



.offer{
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  @include tablets{
    flex-direction: column;
    align-items: center;
  }
}

.offer__photo{
  width: rem(452px);
  height: rem(452px);
  margin-right: rem(57px);
  margin-top: rem(26px);
  margin-left: rem(33px);

  @include tablets{
    width: rem(306px);
    height: rem(306px);
    margin: 0 0 rem(49px) 0;
  }

  @include phones{
    width: rem(306px);
    height: rem(306px);
    margin: 0 0 rem(20px) 0;
  }
}

.offer__img{
  width: 100%;
  height: 100%;
}

.offer__content{ 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;

  @include tablets{
    align-items: center;
  }

  @include phones{
    align-items: center;
  }
}
        
.float-menu{
  display: flex;
  display: inline-block;

  @include tablets{
    display: none;
  }
}  

.float-menu__btn{
  position: relative;
}

.button-menu__img{
  position: absolute;
  left: 27%;
  top: 25%;
  fill: #fff;
}

.float-menu__dropdown{
  display: none;
  position:absolute;
  width: rem(273px);
  min-height: rem(294px);
  padding: rem(35px) rem(25px) rem(34px) rem(30px);
  background:#e5e6e5;
  top: 0;
  left: rem(91px);
  overflow:hidden;
}

.float-menu__dropdown-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.float-menu__dropdown-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: rem(28px);
}
                
.float-menu__dropdown-line{
  display: flex;
  align-items: center;
}

.float-menu__dropdown-icon{
  width: rem(32px);
  height: rem(32px);
  margin-right: rem(16px);
  text-align:center;
}
          
.float-menu:hover .float-menu__dropdown{
  display: block;
}

.offer__title{
  font-size: rem(36px);
  text-transform: uppercase;
  margin-bottom: rem(18px);
  line-height: 1.3;

  @include tablets{
    font-size: rem(28px);
    margin-bottom: rem(14px);
  }

  @include phones{
    font-size: rem(28px);
    margin-bottom: rem(4px);
    text-align: center;
  }
}

.offer__text{
  color: #666666;
  margin-bottom: rem(27px);
  line-height: 1.2;
  padding-right: 6%;

  @include tablets{
    text-align: center;
    padding: 0 6%;
  }

  @include phones{
    margin-bottom: rem(25px);
    text-align: center;
    padding: 0 4%;
  }
}

.offer__parameter-list{
  display: flex;
  margin-bottom: rem(24px);

  @include phones{
    margin-bottom: rem(22px);
  }
}

.offer__parameter-item{
  margin-right: rem(86px);
  line-height: 1.3;

  &:last-child{
    margin-right: 0;
  }
}

.offer__parameter-value{
  font-size: rem(18px);
  font-weight: bold;
}

.offer__order{
  display: flex;
  align-items: center;
}
           
.offer__price{
  font-size: rem(36px);
  margin-right: rem(20px);

  @include tablets{
    font-size: rem(40px);
    margin-right: rem(56px);
  }

  @include phones{
    font-size: rem(32px);
    margin-right: 1.5rem;
  }
}