.team-section__main-title{
  margin-bottom:rem(53px);
}

.team__list{
  display: flex;

  @include tablets{
    flex-direction: column;
  }
}

.team__item{
  margin-right: rem(20px);
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablets{
    margin-right: 0;
    margin-bottom: rem(16px);
  }
}

.team__photo{
  margin-bottom: rem(25px);

  @include tablets{
   display: none;
  }
}

.team__name{
  position: relative;
  margin-bottom: rem(11px);

  @include tablets{
    margin-bottom: 0;
  }

  &::after{
    content: url('../img/decor/team-name-icon.png');
    width: rem(9px);
    height: rem(9px);
    margin-left: rem(4px);
  }
}

.team__dropdown{
  display: none;
}

.team__dropdown-text{
  display: flex;
  justify-content: center;
  text-align: center;
}
 
.team__item:last-child{
  margin-right: 0;
}
      