.team-section__main-title{
  margin-bottom:rem(45px);

  @include tablets{
    margin-bottom: rem(24px);
  }

  @include phones{
    margin-bottom: rem(32px);
  }
}

.team__list{
  display: flex;
  min-height: rem(500px);

  @include tablets{
    flex-direction: column;
    min-height: auto;
  }
}

.team__item{
  margin-right: rem(20px);
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  @include tablets{
    margin-right: 0;
    margin-bottom: rem(16px);
  }

  @include phones{
    margin-bottom: rem(6px);
  }
}

.team__content{
  text-align: center;
}

.team__photo{
  margin-bottom: rem(25px);

  @include tablets{
   display: none;
  }

  &--tablet{
    display: none;

    @include tablets{
      display: inline-block;
      width:rem(222px);
      height: rem(290px);
      margin: rem(18px) 0 rem(12px);
    }

    @include phones{
      height: rem(180px);
      width: rem(138px);
      margin: rem(10px) 0;
    }
  }
}

.team__name{
  position: relative;
  margin-bottom: rem(11px);
  font-size: rem(18px);
  border: none;
  background: none;
  cursor: pointer;
  font-weight: bold;

  @include tablets{
    margin-bottom: rem(2px);
  }

  @include phones{
    font-size: rem(19px);
  }

  &::after{
    position: absolute;
    content: '';
    top: 30%;
    width: rem(9px);
    height: rem(9px);
    margin-left: rem(5px);
    transform: rotate(0deg);
    transition: transform 0.3s;
    background: url("../img/decor/team-name-icon.png") center center no-repeat;
  }

  &--active{
    &::after{
      transform: rotate(180deg);
    }
  }
}

.team__dropdown{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s;
  will-change: max-height;
  
  @include tablets{
    transition: max-height 0s;
  }

  &--active{
    max-height: 100%;
  }
}

.team__dropdown-text{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
 
.team__item:last-child{
  margin-right: 0;
}

.team__position{
   @include tablets{
     font-size: rem(18px);
     font-weight: bold;
     margin-bottom: rem(5px);
   }
}

.team__duty{

  @include tablets{
    padding: 0 rem(237px);
  }
  
  @include phones{
    padding: 0 rem(60px);
  }
}
      