.paginator{
  padding-top: rem(133px);
}

.paginator__item{
  text-align: center;
  width: rem(7px);
  height: rem(7px);
  background: #666666;
  border: rem(1px);
  border-radius: 50%;
  margin-bottom: rem(15px);
}

.paginator__item:last-child{
  margin-bottom: rem(0px);
}

.paginator__item--active{
  background: #E01F3D;
  
}