.section{
  background: #fff;
  height: 100%;
  min-height: rem(650px);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  &--footer{
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    border-top: rem(1px) solid rgba(255,255,255, 0.1);
    padding: rem(20px) 0 rem(18px) 0;
  
    @include phones{
      flex-direction:column;
      text-align: center;
    }
  }

}

.section__name{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.section__title{
  font-size: rem(48px);
  text-transform: uppercase;
  margin-bottom: rem(8px);

  @include tablets{
    margin-bottom: 0;
  }
}

.section__subtitle{
  text-transform: uppercase;
  font-size: rem(48px);

  @include phones{
    font-size: rem(32px);
  }
}

.subtitle{
  margin-bottom: rem(10px);

  @include tablets{
    margin-bottom: rem(4px);
  }

  @include phones{
    font-size: rem(32px);
    letter-spacing: 0.7px;
  }
}

.subtitle-dark{
  color: #fff;
}

.section__text{
  color: #666666;
  padding: 0 20%;

  @include tablets{
    padding: 0 13%;
  }

  @include phones{
    padding: 0 5%;
  }
}

.container-center{
  align-items: center;
}
    

.section-dark{
  background: #F8FAF9;
}

.form-section{
  background-image: url(../img/backgrounds/form-background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}

.section-footer{
  display: flex;
  flex-direction: column;
}

.colors{
  background-image: url(../img/backgrounds/back.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  position: relative;
}